@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;1,100;1,300;1,400&display=swap');
body{
    font-family: 'Roboto', sans-serif;
    background-image: url('https://img.freepik.com/free-vector/banking-service-background-bank-building-icon-made-with-currency-symbols-dollar-euro-yen-pound-icons_127544-803.jpg?size=626&ext=jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.submit-area{
    width: 600px;
    margin: 50px auto;
    box-shadow: 5px 5px 5px deepskyblue;
    border-radius: 10px;
    padding: 30px 100px;
    background-image: linear-gradient(to right, deeppink, red);
    color: white;
}
input::placeholder{
    color: red;
}
.btn-login{
   background-image: linear-gradient(145deg, #08295C, #09D7F8);
   color: white ;
   padding: 10px 20px;
}